# Ignore artifacts:
build
coverage
src/generated/
LICENSE
package-lock.json
package.json
README.md
tsconfig.json
nodemon.json
schema.graphql
graphql.schema.json
codegen.ts
.vscode/
.prettierrc
.prettierignore
.gitignore
.github/workflows/
